CI_ENVIRONMENT = production

app.baseURL = 'https://your-admin-panel.example.com/'

database.default.hostname = localhost
database.default.database = your_database
database.default.username = your_username
database.default.password = your_password
database.default.DBDriver = MySQLi
